<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.project.storage.mapper.AppAdMapper">

    <!--用户映射-->
    <resultMap id="appAdInfoMap" type="com.neusoft.project.storage.domain.AdEntity">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="imgUrl" column="img_url"/>
        <result property="points" column="points"/>
        <result property="isEnable" column="is_enable"/>
        <result property="sortNo" column="sort_no"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="version" column="version"/>
        <result property="delFlag" column="del_flag"/>

    </resultMap>


    <select id="selectAdList" parameterType="com.neusoft.project.storage.domain.AdEntity"
            resultMap="appAdInfoMap">
        select *
        from t_advertisement
        <where>
            <if test="searchValue != null and searchValue != ''">
                (
                title like concat(#{searchValue},'%')
                or points like concat(#{searchValue},'%')
                or img_url like concat(#{searchValue},'%')
                )
            </if>
            and del_flag='0'
        </where>
    </select>

</mapper>