<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.project.storage.mapper.BoxInfoMapper">

    <!--用户映射-->
    <resultMap id="BoxMapperInfoMap" type="com.neusoft.project.storage.domain.BoxInfoEntity">
        <id property="id" column="id"/>
        <result property="boxCode" column="box_code"/>
        <result property="boxStandard" column="box_standard"/>
        <result property="boxUnitPrice" column="box_unit_price"/>
        <result property="usedBy" column="used_by"/>
        <result property="isUsed" column="is_used"/>
        <result property="sortNo" column="sort_no"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
        <result property="version" column="version"/>
    </resultMap>
    <sql id="BoxInfoVO">
        select id,
               box_code,
               box_standard,
               box_unit_price,
               used_by,
               is_used,
               sort_no,
               create_time,
               create_by,
               update_by,
               update_time,
               del_flag,
               remark,
               version
               s.nick_name as usedByName
                from t_box_info
    </sql>

    <select id="selectBoxList" parameterType="com.neusoft.project.storage.domain.BoxInfoEntity"
            resultType="com.neusoft.project.storage.domain.BoxInfoEntity">
        select t.id,
               t.box_code as boxCode,
               t.box_standard as boxStandard,
               t.box_unit_price as boxUnitPrice,
               t.used_by as usedBy,
               t.is_used as isUsed,
               t.sort_no as sortNo,
               t.create_time as createTime,
               t.create_by as createBy,
               t.update_by as updateBy,
               t.update_time as updateTime,
               t.del_flag as delFlag,
               t.remark as remark,
               t.version as version,
            s.nick_name as usedByName
        from t_box_info t
                 left join sys_user s on s.user_id = t.used_by

        <where>
            and t.del_flag = '0'
                <if test="searchValue != null and searchValue!=''" >
                    and(
                    t.box_standard like concat(#{searchValue},'%')
                    )
                </if>
            and t.id = #{id}
        </where>
    </select>

<!--    <select id="selectBoxList" parameterType="com.neusoft.project.storage.domain.BoxInfoEntity" parameterMap=""-->

        <insert id="BoxInfoAdd" parameterType="com.neusoft.project.storage.domain.BoxInfoEntity">
            insert into t_box_info
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="boxCode != null and boxCode != ''">box_code,</if>
                <if test="boxStandard != null and boxStandard != ''">box_standard,</if>
                <if test="boxUnitPrice != null and boxUnitPrice != ''">box_unit_price,</if>
                <if test="remark != null and remark != ''">remark,</if>
                <if test="usedBy != null and usedBy != ''">used_by,</if>
                <if test="isUsed != null and isUsed != ''">is_used,</if>
                <if test="sortNo != null and sortNo != ''">sort_no,</if>
                <if test="createTime != null">create_time,</if>
                <if test="createBy != null and createBy != ''">create_by,</if>
                <if test="updateBy != null and updateBy != ''">update_by,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="delFlag != null and delFlag != ''">del_flag,</if>
                <if test="version != null and version != ''">version</if>
            </trim>
            <trim prefix="values(" suffix=")" suffixOverrides=",">
                <if test="boxCode != null and boxCode != ''">#{boxCode},</if>
                <if test="boxStandard != null and boxStandard != ''">#{boxStandard},</if>
                <if test="boxUnitPrice != null and boxUnitPrice != ''">#{boxUnitPrice},</if>
                <if test="remark != null and remark != ''">#{remark},</if>
                <if test="usedBy != null and usedBy != ''">#{usedBy},</if>
                <if test="isUsed != null and isUsed != ''">#{isUsed},</if>
                <if test="sortNo!= null and sortNo != ''">#{sortNo},</if>
                <if test="createTime != null">#{createTime},</if>
                <if test="createBy != null and createBy != ''">#{createBy},</if>
                <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
                <if test="updateTime != null">#{updateTime},</if>
                <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
                <if test="version != null and version != ''">#{version}</if>
            </trim>
        </insert>

<!--    <insert id="BoxInfoAdd" parameterType="com.neusoft.project.storage.domain.BoxInfoEntity">-->
<!--        insert into t_box_info-->
<!--        (box_standard,-->
<!--         box_unit_price,-->
<!--         remark, box_code, is_used, create_time, create_by, del_flag, version)-->
<!--            value (#{boxStandard},#{boxUnitPrice},#{remark},#{boxCode},#{isUsed},-->
<!--            #{createTime},#{createBy},#{delFlag},#{version})-->
<!--    </insert>-->

    <select id="select" parameterType="com.neusoft.project.storage.domain.BoxInfoEntity" resultMap="BoxMapperInfoMap">
        select *
        from t_box_info
        <where>
            create_time like concat('%',#{createTime},'%')
        </where>
    </select>

    <select id="selectDateMax" parameterType="com.neusoft.project.storage.domain.BoxInfoEntity" resultMap="BoxMapperInfoMap">
        select
        max(box_code) as MaxBoxCode
        from t_box_info
        <where>
            create_time like concat('%',#{createTime},'%')
        </where>
    </select>

    <select id="selectMinBox" parameterType="com.neusoft.project.storage.domain.BoxInfoEntity" resultMap="BoxMapperInfoMap">
        SELECT
        id,
        box_code
        FROM
        t_box_info
        WHERE is_used=0 and box_standard=#{boxStandard}
        LIMIT 1
    </select>

    <update id="updateBoxInfo" parameterType="com.neusoft.project.storage.domain.BoxInfoEntity">
        update t_box_info
        set is_used=1,del_flag=2
        where box_code=#{boxCode}
    </update>
<!--    <select id="selectByid" parameterType="com.neusoft.project.storage.domain.BoxInfoEntity"-->
<!--            resultMap="BoxMapperInfoMap">-->
<!--        SELECT count (ti.id) as id-->
<!--        FROM t_box_info ti-->
<!--        LEFT JOIN t_box_standard ts-->
<!--        on ti.box_standard = ts.box_standard-->
<!--        WHERE ts.id = #{id}-->
<!--    </select>-->


    <select id="selectByBoxStandard" parameterType="com.neusoft.project.storage.domain.BoxInfoEntity" resultMap="BoxMapperInfoMap">
        select *
        from t_box_info
        <where>
            box_standard=#{boxStandard} and del_flag='0'
        </where>
    </select>

    <update id="BoxInfoDelete" parameterType="com.neusoft.project.storage.domain.BoxInfoEntity">
        update t_box_info
        set del_flag='2'
        where is_used='0' and id=#{id}
    </update>

    <select id="SelectIsUsedFromBoxInfo" parameterType="com.neusoft.project.storage.domain.BoxInfoEntity"
            resultMap="BoxMapperInfoMap">
        select *
        from t_box_info
        where del_flag = '0' and id=#{id}
    </select>
</mapper>
